<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src='/static/js/jquery-1.12.4.min.js'> </script>
    

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block script %}
    {% endblock %}
   

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">严小丁的个人博客</a>
            </div>
            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li class='mysql_advanced'>
                            <a href="javascript:;">Mysql<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id='mysql_intermediate'>
                                
                                
                            </ul>
                        </li>
                        <li class='redis_advanced'>
                            <a href="javascript:;" class='mysql'>Redis<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class='mac_advanced'>
                            <a href="javascript:;">Mac<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                
                            </ul>
                        </li>
                        <li class='spider_advanced'>
                            <a href="javascript:;">Spider<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                
                            </ul>
                        </li>
                        <li class='python2_advanced'>
                            <a href="javascript:;">Python2<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class='linux_advanced'>
                            <a href="javascript:;">Linux<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class='exploit_advanced'>
                            <a href="javascript:;">Exploit<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% block headmessage %}
                        {% endblock %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            {% block  mackdown%}

            {% endblock %}
            
            {%include 'footer.html'%}
                    
                        
                               
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>
